<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
    <%= form.text_field :project_name, class:"form-control", placeholder:"Project Name" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_area :project_description, class:"form-control", placeholder:"Description" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.datetime_field :date_created, class:"form-control" %>
  </div>
  <br/>
  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
